.container{
width: 100%;
}
 .container {
  position: relative;
  margin-top:120px;
  display: flex;
 align-items: center;
 justify-content: center;
 }
 .pica {
  position: absolute;
  width: 100px;
  margin: 204px 890px 230px -1px;
  opacity: 0.3;
  cursor: pointer;
 }
 .picb{
  position: absolute;
  width: 100px;
  margin: 204px -890px 230px 4px;
  opacity: 0.3;
  cursor: pointer;
 }