.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 150px 175px 50px;
  transition: all 0.2s ease;
  font-family:'Times New Roman', Times, serif;
}

.cartContainer {
  width: 70%;
}

.payments {
  width: 27%;
  background: #fff;
  border: 1px solid silver;
  box-shadow: 1px 2px 3px rgb(163, 116, 116);
  border-radius: 5px;
  text-align: left;
}

.payments p {
  color: rgb(216, 129, 114);
  margin: 20px 20px 10px;
  font-weight: bold;
  font-size: 1rem;
}

.payments p span {
  color: rgb(153, 89, 89);
 
  font-family:'Times New Roman', Times, serif;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 50px 20px 10px;
  
}

.checkout {
  display: inline-block;
  background: rgb(153, 89, 89);
  padding: 7px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 9px 16px;
}

.checkout:hover {
  background-color: rgb(163, 116, 116);
}

.clear {
  cursor: pointer;
  color: rgb(153, 89, 89);
  background: none;
  border: none;
  transition: all 0.2s ease;
  font-size: 1rem;
}

.clear:hover {
  color: rgb(163, 116, 116);
}
 .complete{
  border: 1px solid rgb(131, 163, 116);
  box-shadow: 8px 6px 7px 5px rgb(131, 163, 116);
  padding: 59px;
  text-align: center;
  margin-right: 600px ;
 }
 .complete img {
  background-color: rgb(131, 163, 116);
  border-radius: 50%;
  
 }

.complete h3 {
  color: rgb(131, 163, 116);
  margin: 30px 0 50px;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;

}

.complete a {
  background-color: rgb(109, 153, 89);
  display: inline-block;
  text-decoration: none;
  color: #fff;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 120px;
  font-weight: bold;
  line-height: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.complete a:hover {
  background-color: rgb(122, 197, 106);
}

@media (max-width: 1200px) {
  .container {
    margin: 120px 80px 50px;
  }
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column-reverse;
    margin: 120px 80px 50px;
    align-items: center;
  }
  .cartContainer {
    width: 100%;
  }

  .payments {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 120px 40px 50px;
  }
}

@media (max-width: 555px) {
  .container {
    margin: 120px 20px 50px;
  }
}
